{% extends "base_posts.html" %}
{% load static %}

{% block nested %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'img/join-bg.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Join My Next Trip</h1>
              <span class="subheading">Friends and medicine play the same role in our life. Both care for us in pain, but the only difference is that Friendship does not have any expiry date !!!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>I love making new friends, and I think the fastest way to do that is by doing it during a trip.</p>
          <p>You get to know the personality of each other very quickly. Making connections with travel friends is also a good way of giving yourself some psychological reassurance that you're not plunging wholly into the unknown.</p>
	  <p>You never know who you will meet and what cultrue you will be talking with. I planning my next trip to Japan. If you also love travelling and making friends. Welcome to join me by filling out <a style="text-decoration:underline" href="https://goo.gl/forms/EbS4lP3jDcdPCaKg1">this</a> form!</p>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
